.heading{
    display: inline-block;
    clear: left;
}
.view-note{
    display: inline-block;
    margin-left: 60%;
    text-decoration: none !important;
}
.container .log-out{
    position: absolute;
    top: 5%;
    left: 11%;
}
.container .log-out:hover{
    color:gray;
    cursor: pointer;
}